@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  display: block;
}

body {
  margin: 0;
  background-color: #004e75;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #9b9ca1;
}

.flares {
  z-index: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(#ffffff, transparent);
  position: absolute;
  top: 0;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  max-width: 1223px;
  padding-left: 24px;
  padding-right: 24px;

  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.hero {
  width: 100%;
}

.logo {
  width: 350%;
  height: 200%;
  transform: scale(0.3);
  text-align: left;
  margin-top: -550px;
}

.btn2 {
  position: absolute;
  left: 500px;
}

/* .circle {
  width: 50%;
  height: 0%;
  transform: scale(2.2);
  text-align: left;
  margin-top: 0px;
  margin-right: 0px;
} */

.buttontoeurope {
  width: -500%;
  height: 0%;
  transform: scale(0.5);
  text-align: right;
  margin-top: 0px;
  margin-left: 500px;
  margin-bottom: 0px;
}

.europe {
  width: 90%;
  height: 300%;
  transform: scale(1.5);
  text-align: right;
  margin-top: -500px;
  margin-right: 600px;
}

h1 {
  font-size: 600px;
  line-height: 100px;
  font-weight: 800;
  color: #000000;
  -webkit-text-stroke: 5px black;
  color: white;
}

.hide-mobile {
  display: none;
}

@media screen and (min-width: 991px) {
  .hide-mobile {
    display: block;
  }

  h1 {
    margin-bottom: 24px;
    font-size: 64px;
  }
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
